<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Counts</title>
    <link rel="stylesheet" href="css/popup.css" type="text/css">
</head>

<body>
    <div class="modal-header">
        <h1>SHADOWSLEUTH.</h1>
        <button class="analyze-button" type="button" onclick="openOutputPage()">DETECT</button>
    </div>
    <div class="modal-footer">
        <a class="link" href="https://darkpatterns.org">Report A Dark Pattern</a>
    </div>
    <script src="./js/popup.js"></script>

</body>

</html>
